.display {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px ;
}

p1 {
    font-size: 20px;
    font-weight: bold;
}
.box {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#rock {
    background-color: aqua;
}

#paper {
    background-color: orange;
}

#scissors {
    background-color: green;
}